.checkout {
  background-color: black;
  width: 30%;
  height: 400px;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
 .checkout {
    width: 90%;
    height: 375px;
    margin: auto;
    padding: 20px;
  }
}

.checkout * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.checkout fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #2bd9a5;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #2bd9a5;
  border-radius: 4px;
}

.checkout .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  height: 42px;
}

.checkout .row + .row {
  border-top: 1px solid #2bd9a5;
}

.checkout label {
  min-width: 80px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkout input, .checkout button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  margin-right: 15px;
}

.checkout input:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.checkout .StripeElement--webkit-autofill {
  background: transparent !important;
}

.checkout .StripeElement {
  padding: 11px 15px 11px 0;
  margin-left: 15px;
}

.checkout input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  /* -webkit-animation: 1ms void-animation-out; */
}

.checkout input::-webkit-input-placeholder {
  color: #c4f0ff;
}

.checkout input::-moz-placeholder {
  color: #c4f0ff;
}

.checkout input:-ms-input-placeholder {
  color: #c4f0ff;
}

.checkout button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #2bd9a5;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #2bd9a5;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.checkout button:active {
  background-color: #6bffd3;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #6bffd3;
}

.checkout .success .icon .checkmark {
  stroke: #fff;
}

.checkout .success .title {
  color: #fff;
  margin-top: 40px;
  text-align: center;
}

.checkout .success .message {
  color: #6bffd3;
  text-align: center;
}

.checkout .success .reset path {
  fill: #fff;
}

